Resources/Private/Schemas/AwViewHelper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://typo3.org/ns/Wuttig/AwViewHelper/ViewHelpers"><xsd:element name="http.gp"><xsd:annotation><xsd:documentation><![CDATA[Class GpViewHelper]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute type="xsd:string" name="name" use="required"><xsd:annotation><xsd:documentation><![CDATA[]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="merged"><xsd:annotation><xsd:documentation><![CDATA[]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element><xsd:element name="sql.query.execute"><xsd:annotation><xsd:documentation><![CDATA[Class ExecuteViewHelper]]></xsd:documentation></xsd:annotation><xsd:complexType mixed="true"><xsd:sequence><xsd:any minOccurs="0" maxOccurs="unbounded"/></xsd:sequence><xsd:attribute type="xsd:string" name="table" use="required"><xsd:annotation><xsd:documentation><![CDATA[The table to SELECT]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="fields" use="required"><xsd:annotation><xsd:documentation><![CDATA[The fields to SELECT]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="conditions"><xsd:annotation><xsd:documentation><![CDATA[WHERE conditions]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="orderBy"><xsd:annotation><xsd:documentation><![CDATA[ORDER_BY]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="limit"><xsd:annotation><xsd:documentation><![CDATA[]]></xsd:documentation></xsd:annotation></xsd:attribute><xsd:attribute type="xsd:string" name="as" use="required"><xsd:annotation><xsd:documentation><![CDATA[]]></xsd:documentation></xsd:annotation></xsd:attribute></xsd:complexType></xsd:element></xsd:schema>
